.container {
  width: 380px;
  margin: 10px;
}

.input {
    text-align: center;
    padding: 10px;
    line-height: 30px;
    margin: 10px;
    color: #006494;
    border: 1px solid;
}

.output {
  text-align: center;
  padding: 10px;
  line-height: 30px;
  margin: 10px;
  color: #006494;
  background-color: #dcd4d47d;
}